.character-page {
    .character-page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1.25rem 3.125rem;

        .character-page-header-button {
            .character-page-link {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                color: black;
            }
        }

        .character-page-header-button:hover {
            transform: scale(1.1);
            transition: transform .2s ease-in-out;
        }
    }

    .character-page-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .character-page-main-header{  
            text-align: center;

            .character-page-img {
                img {
                    border: 5px solid #F2F2F7;
                    border-radius: 150px;
                }
            }

            h1 {
                margin: 0;
                margin-top: 1rem;
                font-weight: 400;
                font-size: 48px;
                line-height: 56px;
            }
        }

        .character-page-label {
            width: 100%;
            text-align: center;
            margin: 3rem 0;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #8E8E93;
        }

        .character-page-list {
            width: 51%;
            
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                
                li {
                    margin: 0.563rem 0;
                    border-bottom: 1px #ccc solid;
                }

                h2 {
                    margin: 0;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                    color: #081F32;
                }

                label {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: #6E798C;
                }
            }

        }    

    }
    @media screen and (max-width: 540px) {
        .character-page-main {
            .character-page-img {
                img {
                    width: 9.375rem;
                    height: 9.375rem;
                }
            }

            h1 {
                font-size: 32px;
                line-height: 38px;
            }

            .character-page-label {
                margin: 2.125rem 0;
                text-align: left !important;
            }
    

            .character-page-list {
                width: 100%;
                padding: 0;
            }
        }
    }
}
